@charset "UTF-8"

@media print, screen and (min-width: 768px) {
  ._sp {
    display: none;
  }
}

._pc {
  display: none;
}

@media print, screen and (min-width: 768px) {
  ._pc {
    display: block;
  }
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Yu Gothic', Sans-Serif;
}

a {
  color: black;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.cmn-section.-black {
  background-color: #FFE4C4;
}

.cmn-title {
  color: #000;
  text-align: center;
}

.cmn-title .main {
  display: block;
  font-size: 32px;
}

.cmn-title .sub {
  display: block;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}

.cmn-title .sub.-faq {
  text-transform: uppercase;
}

@media print, screen and (min-width: 768px) {
  .cmn-title .sub {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.button a {
  color: #000;
  background: -webkit-gradient(linear, left top, right bottom, from(orange), to(yellow));
  background: linear-gradient(to bottom right, orange, yellow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 155px;
  height: 37px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
  font-size: 14px;
}

.footer {
  background-color: #BD3A00;
  border: 1px solid #e5e5e5;
}

.footer-wrap {
  text-align: center;
  color: #fff;
  padding-top: 30px;
}

@media print, screen and (min-width: 768px) {
  .footer-wrap {
    padding-top: 0;
  }
}

@media print, screen and (min-width: 768px) {
  .footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-list .footer-item {
  padding-top: 20px;
}

@media print, screen and (min-width: 768px) {
  .footer-list .footer-item {
    padding-top: 60px;
  }
}

@media print, screen and (min-width: 768px) {
  .footer-list .footer-item + .footer-item {
    margin-left: 50px;
  }
}

.footer-list .footer-item a {
  color: #fff;
}

.footer-logo {
  width: 188px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 20px;
}

.copyright {
  padding-bottom: 40px;
  font-size: 16px;
}

.header .header-fixed {
  background-color: #BD3A00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 2;
}

.header .header-logo {
  width: 200px;
  margin-left: 50px;
}

.header .nav-btn {
  width: 52px;
  height: 30px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
  font: inherit;
  outline: none;
  position: relative;
}

@media print, screen and (min-width: 768px) {
  .header .nav-btn {
    display: none;
  }
}

.header .nav-btn:hover {
  cursor: pointer;
}

.header .nav-btn.-active span {
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.header .nav-btn.-active span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .nav-btn.-active span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .nav-btn.-active span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .nav-btn span {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  display: block;
  right: 30px;
}

.header .nav-btn span:first-child {
  top: 0;
}

.header .nav-btn span:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}

.header .nav-btn span:last-child {
  bottom: 0;
}

.header .nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000CC;
  padding-top: 134px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media print, screen and (min-width: 768px) {
  .header .nav {
    width: initial;
    background-color: transparent;
    padding-top: 38px;
    z-index: 3;
    left: inherit;
    right: 0;
    opacity: 1;
    visibility: visible;
  }
}

.header .nav.-active {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.header .nav-list {
  text-align: center;
  padding-bottom: 40px;
}

@media print, screen and (min-width: 768px) {
  .header .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 33px;
    padding-bottom: 0;
  }
}

.header .nav-list .item + .item {
  margin-top: 20px;
}

@media print, screen and (min-width: 768px) {
  .header .nav-list .item + .item {
    margin-top: 0;
    margin-left: 20px;
  }
}

.header .nav-list .item a {
  color: #fff;
  font-size: 30px;
}

@media print, screen and (min-width: 768px) {
  .header .nav-list .item a {
    font-size: 18px;
  }
}

.blog {
  padding-top: 60px;
}

.blog-cont {
  margin-left: 60px;
  margin-right: 60px;
}

@media print, screen and (min-width: 768px) {
  .blog-cont {
    margin-left: 110px;
    margin-right: 110px;
  }
}

.blog-list {
  color: #fff;
}

.blog-list .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-list .row + .row {
  margin-top: 30px;
}

.blog-list dt {
  font-size: 14px;
  width: 92px;
  height: 32px;
  background-color: #BD3A00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 15px;
}

@media print, screen and (min-width: 768px) {
  .blog-list dt {
    width: 157px;
    margin-right: 20px;
  }
}

.blog-list dd {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.blog-list dd a {
  color: #6E6E6E;
  font-size: 24px;
  text-decoration: underline;
}

.blog-link {
  margin-top: 70px;
}

.blog-link a {
  margin-left: auto;
  margin-right: auto;
}

.faq {
  padding-top: 60px;
  padding-bottom: 70px;
}

.faq .faq-cont {
  margin-left: 0;
  margin-right: 0;
}

@media print, screen and (min-width: 768px) {
  .faq .faq-cont {
    margin-left: 16.83748%;
    margin-right: 16.83748%;
  }
}

.faq .faq-item:nth-child(2) {
  text-align: center;
}

.faq .faq-item .question {
  display: block;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.faq .faq-item .answer {
  background-color: #F2F2F2;
  padding: 25px 50px;
  border-bottom: 1px solid #e5e5e5;
  display: none;
}

.features {
  padding-top: 54px;
}

@media print, screen and (min-width: 768px) {
  .features {
    padding-top: 80px;
  }
}

.features .features-item {
  color: #6E6E6E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse;
          flex-flow: column-reverse;
}

.features .features-item + .features-item {
  padding-top: 70px;
}

@media print, screen and (min-width: 768px) {
  .features .features-item + .features-item {
    padding-top: 0;
  }
}

@media print, screen and (min-width: 768px) {
  .features .features-item:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
  }
}

@media print, screen and (min-width: 768px) {
  .features .features-item:nth-child(odd) .image {
    margin-right: 55px;
  }
}

@media print, screen and (min-width: 768px) {
  .features .features-item:nth-child(odd) .text {
    margin-right: 70px;
  }
}

@media print, screen and (min-width: 768px) {
  .features .features-item:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
}

@media print, screen and (min-width: 768px) {
  .features .features-item:nth-child(even) .image {
    margin-left: 55px;
  }
}

@media print, screen and (min-width: 768px) {
  .features .features-item:nth-child(even) .text {
    margin-left: 70px;
  }
}

.features .features-item .text {
  margin-left: 90px;
  margin-right: 90px;
}

@media print, screen and (min-width: 768px) {
  .features .features-item .text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 0;
    margin-right: 0;
  }
}

.features .features-item .text .title {
  color: #696969;
  font-size: 28px;
  margin-top: 40px;
}

.features .features-item .text .description {
  font-size: 18px;
  margin-top: 30px;
}

.features .features-item .text .button {
  margin-top: 40px;
  margin-bottom: 30px;
}

.features .features-item .text .button a {
  margin-left: auto;
  margin-right: auto;
}

@media print, screen and (min-width: 768px) {
  .features .features-item .image {
    width: 50%;
  }
}

.plan {
  padding-top: 80px;
}

.rec .rec-list .rec-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse;
          flex-flow: column-reverse;
  border-radius: 8px;
  overflow: hidden;
  margin-left: 70px;
  margin-right: 70px;
}

@media print, screen and (min-width: 768px) {
  .rec .rec-list .rec-item {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.rec .rec-list .rec-item .text {
  background-color: #fff;
  padding: 25px 25px 50px 25px;
}

.rec .rec-list .rec-item .title {
  color: #333333;
  font-size: 16px;
}

.rec .rec-list .rec-item .price {
  color: #333333;
  font-size: 14px;
}

.rec .rec-list .rec-item .price span {
  color: #FF0000;
}

.service .service-list {
  margin-top: 70px;
}

@media print, screen and (min-width: 768px) {
  .service .service-list {
    margin-left: 70px;
    margin-top: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.service .service-item {
  background-color: #fff;
  opacity: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse;
          flex-flow: column-reverse;
  width: 81.46667%;
  margin: 0 auto;
}

@media print, screen and (min-width: 768px) {
  .service .service-item {
    width: 28.02594%;
    margin: 0;
  }
}

.service .service-item + .service-item {
  margin-top: 50px;
}

@media print, screen and (min-width: 768px) {
  .service .service-item + .service-item {
    margin-left: 30px;
    margin-top: 0;
  }
}

.service .service-item .text {
  text-align: center;
}

.service .service-item .title {
  font-size: 40px;
}

@media print, screen and (min-width: 768px) {
  .service .service-item .title {
    font-size: 28px;
  }
}

.service .service-item .description {
  font-size: 24px;
  margin: 40px 20px 50px 20px;
}

@media print, screen and (min-width: 768px) {
  .service .service-item .description {
    font-size: 18px;
  }
}

.service .service-item .image {
  width: 160px;
  margin-left: auto;
  margin-right: auto;
}

.top {
  background-image: url(../image/top_tablet.jpg);
  background-size: cover;
  background-position: center;
  height: 674px;
  position: relative;
  margin-top: 100px;
}

@media print, screen and (min-width: 768px) {
  .top {
    background-image: url(../image/restaurant.jpg);
  }
}

.top .top-title {
  font-size: 50px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-size: 35px;
  width: 100%;
}

@media print, screen and (min-width: 768px) {
  .top .top-title {
    font-size: 50px;
  }
}

.map-wrap .map p {
  text-align: center;
  color: #6E6E6E;
}

.map-wrap .map .map-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
  padding-bottom: 50px;
}
/*# sourceMappingURL=style.css.map */